html {
  scroll-behavior: smooth;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.animated {
  opacity: 1;
  transform: translateY(0);
}

.main-title {
  font-size: 3.5rem; 
  background: -webkit-linear-gradient(#ee5914, #ff1e00); 
  margin-bottom: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 150px;
  font-family: 'Jost', sans-serif;
  text-align: center;
  font-weight: 700;
  filter: drop-shadow(0px 0px 35px #e749007c);
}

.description {
  font-family: 'Inconsolata', monospace;
  font-size: 1.1rem;
  margin-top: 0px;
  color: #a3a6c5;
  font-weight: 400;
  line-height: 1.88;
}

/* Sub Title */
.sub-title {
  font-size: 1.5rem; 
  color: #a3a6c5; 
  font-family: 'Jost', sans-serif;
  text-align: center;
  font-weight: 400;
}

/* Content Container */
.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 20px;
  padding: 0 350px; /* Add padding to the left and right to create space */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

/* Content Box */
.content-box {
  flex: 1;
  margin-top: 25px;
  max-width: 35%; 
  text-align: left;
}

/* Section Title */
.st {
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  background: -webkit-linear-gradient(#ee5914, #ff1e00); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 10px #e74800);
  display: inline-block; 
  margin-right: 10px; 
}

.st2 {
  background: white;
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Jost', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* Technologies List */
.technologies-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 8px;
}

.technologies-list li {
  font-size: 1.2rem;
  margin-bottom: 16px;
  font-family: 'Inconsolata', monospace;
  display: flex;
  align-items: center;
  color: #a3a6c5;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ee4014;
  filter: drop-shadow(0px 0px 10px #e7490098);
  margin-right: 10px;
}

/* Projects Section */
.projects-section {
  margin-top: 100px;
  text-align: left;
  padding: 0 350px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%; 
  justify-content: center;
  margin-bottom: 20px;
}

.project-card {
  width: 45%;
  background-color: #0d0f16;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  font-family: 'Jost', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 520px;
  cursor: pointer;
  transition: 0.5s filter;
}

.projects-container:hover .project-card:not(:hover) {
  transition: 0.5s filter;

}

.project-card:hover{
  filter: brightness(1.3);
  transition: 0.5s filter;

}

.project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.project-type {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#ee5914, #ff1e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 15px;
}

.project-title {
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
  margin: 5px 0;
}

.project-desc {
  font-size: 1.1rem;
  color: #a3a6c5;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Load More Button */
.load-more-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
}

.load-more-btn {
  background: linear-gradient(90deg, #ee5914, #ff1e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.load-more-btn:hover {
  filter: brightness(1.2);
}

.submit-btn {
  background: linear-gradient(90deg, #ee5914, #ff1e00);
  border: none;
  padding: 12px;
  font-size: 1.1rem;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.submit-btn:hover {
  filter: brightness(1.2);
}

/* Custom Link Text */
.custom-link-text {
  display: flex;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.linkcss {
  background: -webkit-linear-gradient(#ee5914, #ff1e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-link-text i {
  margin-right: 8px;
}

.custom-link-text a {
  text-decoration: none;
  background: -webkit-linear-gradient(#ee5914, #ff1e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-grow: 1;
}

.techs {
  color: #53545f;
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.custom-link-text i.fa-arrow-pointer {
  color: #53545f !important;
}

.custom-link-text i.fa-up-right-from-square {
  transition: transform 0.3s ease-in-out;
}

.custom-link-text:hover i.fa-up-right-from-square {
  transform: rotate(20deg);
  transition: transform 0.3s ease-in-out;
}
