<section id="intro">
<div class="navbar-background"></div>
<nav class="navbar">
  <div class="navbar-left">
    <img src="https://i.imgur.com/Vj7pRoy.png" alt="Logo" class="logo">
    <span class="brand-name">Hisen</span>
  </div>

  <div class="navbar-center">
       <a href="#intro" class="nav-link" (click)="scrollToSection('intro')">Úvod</a>
       <a href="#projects" class="nav-link" (click)="scrollToSection('projects')">Projekty</a>
       <a href="#contact" class="nav-link" (click)="scrollToSection('contact')">Kontakt</a>
  </div>

  <div class="navbar-right">
    <a href="https://www.instagram.com/ficnarek/" class="contact">
      <i class="fa-brands fa-instagram"></i> &commat;ficnarek
    </a>
  </div>
</nav>
