@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet');

:root {
  --primary-color: #00d6ff;
  --background-color: #080a11;
  --text-color: #FFFFFF;
  --accent-color: #80f4ff;
}

body, html {
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
  overflow-x: hidden;
  margin: 0;
  padding-top: 150px; /* 🔥 Prevent overlap */
  padding: 0;

}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar track (background) */
::-webkit-scrollbar {
  width: 6px; /* Adjust width of the scrollbar */
  height: 6px; /* Adjust height for horizontal scroll */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff1e00, #ee5914); /* Gradient thumb */
  border-radius: 5px;
}